<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HeadServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.HeadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FootServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.FootServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProducttypeServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.ProducttypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductCateServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.admin.ProductCateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.admin.ProductListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HTProductServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.admin.HTProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessageListServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.admin.MessageListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DesignerlistServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.admin.DesignerlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CompanyInformationServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.admin.CompanyInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsListServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.admin.NewsListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsTypeServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.admin.NewsTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Nike.Servlet.admin.LoginServlet</servlet-class>
  </servlet>














  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeadServlet</servlet-name>
    <url-pattern>/head</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FootServlet</servlet-name>
    <url-pattern>/foot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProducttypeServlet</servlet-name>
    <url-pattern>/admin/producttype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductCateServlet</servlet-name>
    <url-pattern>/admin/productcate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/admin/productlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HTProductServlet</servlet-name>
    <url-pattern>/admin/htproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageListServlet</servlet-name>
    <url-pattern>/admin/messagelist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DesignerlistServlet</servlet-name>
    <url-pattern>/admin/designerlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyInformationServlet</servlet-name>
    <url-pattern>/admin/companyinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsListServlet</servlet-name>
    <url-pattern>/admin/newslist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsTypeServlet</servlet-name>
    <url-pattern>/admin/newstype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
  		<filter-name>LoginFilter</filter-name>
  		<filter-class>com.Nike.Filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  		<filter-name>LoginFilter</filter-name>
  		<url-pattern>/admin/*</url-pattern>   <!-- 代表过滤所有请求 -->
  </filter-mapping>
  	
  
  	
  <welcome-file-list> 
    <welcome-file>index</welcome-file>
  </welcome-file-list>
</web-app>
